<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="avtaha.stosiki.com.perimeter">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <receiver android:name=".AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".ShomerChecker">
            <intent-filter>
                <action android:name="com.stosiki.avtaha.perimeter.CHECK" />
            </intent-filter>
        </receiver>

        <activity android:name=".ConfigActivity">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TestActivity"/>

        <activity
            android:name="haibison.android.lockpattern.LockPatternActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="user"
            android:theme="@style/Alp_42447968.Theme.Light"/>

    </application>
</manifest>
